* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  margin-bottom: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  width: 39rem;
  height: 50rem;
  border: 7px #ededed solid;
  align-items: center;
}

#root > *:not(#progress_bar) {
  width: 27.25rem;
  flex-grow: 0;
}

#progress_bar {
  height: 0.75rem;
  width: 100%;
}

#progress_bar_fill {
  background-color: #a9aaa9;
  height: 0.75rem;
  width: 50%;
}

#info_card {
  margin: 0;
}

#question_card {
  margin: 0;
}

#no_of_questions_answered_text {
  color: #494949;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 0.25rem;
}

#question_category_text {
  color: #909090;
  font-size: 0.85rem;
  margin-bottom: 0.05rem;
}

.fas.fa-star {
  padding: 0 0.075rem;
  font-size: 0.6rem;
  color: #cbcccb;
}

.fas.fa-star.highlighted {
  color: #000;
}

#question_text {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

#options {
  display: grid;
  grid-template-columns: repeat(2, 11.5rem);
  grid-gap: 1.5rem 3rem;
  justify-content: space-between;
}

button {
  font-size: 1.1rem;
  line-height: 1.4rem;
  border: 1.4px #000 solid;
  border-radius: 0.2rem;
  background-color: #e5e6e5;
  outline: none;
}

button:disabled {
  border: 1.4px #a3a3a3 solid;
}

button.highlight_selected {
  background-color: #000;
  color: #fff;
  border: 1.4px #000 solid;
}

button.highlight_correct {
  background-color: #fff;
  color: #000;
  border: 1.4px #000 solid;
}

#result_card {
  margin-top: 2.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.horizontal_container {
  display: flex;
}

#result_text,
#game_over_text {
  font-size: 1.5em;
  margin-bottom: 1.2rem;
  padding-left: 0.3rem;
}

.none {
  display: none;
}

#next_question_button {
  line-height: 2rem;
  width: 9.5rem;
}

#score_card {
  flex-grow: 1 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

#score_text {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

#score_bar {
  position: relative;
  height: 1.75rem;
  border: #000 solid 0.1rem;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
}

#score_bar > * {
  position: absolute;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#max_score_fill {
  height: 1.55rem;
  background-color: #d2d2d2;
  width: 100%;
}

#current_score_fill {
  height: 1.55rem;
  background-color: #717171;
  width: 0%;
}

#min_score_fill {
  height: 1.65rem;
  background-color: #000000;
  width: 0%;
  left: -0.5px;
  top: -1px;
}
